{% extends "layout.html" %}

{% block content %}

<div class="row w-100 d-flex justify-content-center">
    <div class="col-8 col-md-6 col-lg-5 col-xl-4 p-3 border border-2 rounded">
        <form class="my-4 mx-3" action="/buy/{{item.id}}" method="GET">
            <div class="form-group mb-4 text-center">
                <h1>Item Info</h1>
            </div>
            {% if item %}
            <div class="form-group w-100 text-center">
                <input class="form-control my-2 px-3" type="text" placeholder="Name: {{item.name}}" readonly>
                <textarea class="form-control my-2 px-3" rows="7" placeholder="Description: {{item.description}}" readonly></textarea>
                <input class="form-control my-2 px-3" type="text" placeholder="Price: {{item.price}}" readonly>
            </div>
            <div class="form-group w-100 text-center">
                {% csrf_token %}
                <input type="button" id="buy-button" class="btn btn-primary w-100 mt-4" value="Buy">
            </div>
            {% else %}
            <p>Item with the specified ID was not found.</p>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% load static %}
<script type="module" src="{% static 'redirect.js' %}"></script>
{% endblock %}