{% extends "layout.html" %}

{% block content %}

<div class="m-0">
    <h1 class="display-1 user-select-none">Item List</h1>
    <ol>
    {% if items %}
    {% for item in items %}
        <li><p class="h5">
            <a href="/item/{{item.id}}" class="text-muted">
                {{item.name}}
            </a>
        </p></li>
    {% endfor %}
    {% else %}
    <div class="text-center">
        <p>There are no items in the store.</p>
        <p>You can access admin panel to add new items.</p>
    </div>
    {% endif %}
    </ol>
</div>

{% endblock %}

{% block scripts %}
{% load static %}
<script type="module" src="{% static 'redirect.js' %}"></script>
{% endblock %}